/* @define-color node_bg #000000; */
/* @define-color node_bg_selected #100024;  */

.node>.nodebox-alt {
    background-color: #111111;
    border-radius: 20px;
    border: 2px solid #323232; 
    padding: 10px 20px;
    filter: drop-shadow(0 2px 2px #000000);

    /* filter: drop-shadow(0 0 2px black); */ 
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }
  .node-selected>.nodebox-alt {
    background-color: #111111;
    /*    background-color: #100024;*/
    border-radius: 20px;
    border: 2px solid #AAAAAA;
    padding: 10px 20px;
	filter: drop-shadow(0 0 6px #999999);

    /* transform: scale(2); */
    /* filter: drop-shadow(0 0 2px #ffffff); */
    /* filter: drop-shadow(0 0 0.25rem #b9b9b99a); */
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }
.node .mainlabel{
	color: #bbbbbb;
	font-size: 100%;
	font-weight: bold;
}
.node .seclabel{
	color: #aaaaaa;
	font-size: 80%;
	font-weight: bold;
}

.node-selected .mainlabel{
	color: #eeeeee;
	font-size: 100%;
	font-weight: bold;
}
.node-selected .seclabel{
	color: #dddddd;
	font-size: 80%;
	font-weight: bold;
}
  /*Old CSS code for nodes*/
/* .node > .nodebox-alt{
    background-color: #242424;
    border-radius: 20px;
    border: 1px solid #000000; 
    padding: 10px 20px;
  }

  .node-selected > .nodebox-alt{
    background-color: #242424;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    /* transform: scale(2); 
    /* filter: drop-shadow(0 0 2px #ffffff); 
    /* filter: drop-shadow(0 0 0.25rem #b9b9b99a); 
    /* filter: drop-shadow(0 0 0.75rem crimson); 
  }
 */
.node > .nodebox {
    /* background-color: #242424; */
    background-color: @node_bg;
    border-radius: 20px;
    /* border: 1px solid #B9B9B9; */
    padding: 15px;
    

    /* filter: drop-shadow(0 0 5px black); */
    
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }

.node-selected > .nodebox {
    background-color: @node_bg_selected;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #FFFFFF;
    transform-origin: 0 0;
    /* transform: scale(2); */
    filter: drop-shadow(0 0 5px #ffffff);
    /* filter: drop-shadow(0 0 0.25rem #b9b9b99a); */
    font-weight: 1000;
    font-style: normal;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
  }


.nodebutton{
    color: #242424;
    background-image: none;
    background-color: #B9B9B9;
    transition-duration: 0.5s;
}

.nodebutton:hover{
    background-image: none;
    /* background-color: #B9B9B988; */
    filter: drop-shadow(0 0 0.5rem #B9B9B988);
    transition-duration: 0.1s;
}

.nodebutton:active{
    background-image: none;
    filter: drop-shadow(0 0 0.25rem #B9B9B988);
    background-color: #B9B9B988;
    transition-duration: 0.1s;
}

.rubberband{
    border: 2px solid #B386C3;
    
    background-color: #BA00700E;
    border-radius: 2px;
    filter: drop-shadow(0 0 0.25rem #b9b9b99a);
    

}

.canvas{
    /* background-color: #000000; */
    color: #ffffff;
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/tile_canvas_bg_dotted.svg"); */
    /* margin: 10px; */
    /* padding: 20px; */
    border: 4px double #909090;
    
    
    /* background: repeat; */
    
}

.canvas-fixed{
    /* background-color: #000000; */
    color: #ffffff;
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    transform-origin: 0 0;
    transform: scale(1);
    
    /* background: repeat; */
    
}

.canvas_zoomed_out{
    /* background-color: #000000; */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/qL9wz.png"); */
    /* background-image: url("/home/phantomzback/Documents/GSOC_Projs/protoptype_infinite_canvas/tile_canvas_bg_dotted.svg"); */
    transform: scale(1);
    /* background: repeat; */
    
}


.source{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #ffffff;
    border-radius: 100%;
}
.sink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #ffffff;
    border-radius: 100%;
}



.node-selected .nodesource{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #ffffff;
    border-radius: 50px;
    /* border-radius: 100%; */
}
.node-selected .nodesink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #ffffff;
    padding: 0px 3px;
    border-radius: 50px;
    /* border-radius: 100%; */
}


.node .nodesource{
    /* background-color: #290037; */
    background-color: #5c007a;
    border: 1px solid #242424;
    /* border: 1px solid #ffffff; */
    border-radius: 50px;
    /* border-radius: 100%; */
}
.node .nodesink{
    background-color: rgb(0, 69, 116);
    border: 1px solid #242424;
    /* padding: 0px 15px; */
    padding: 0px 3px;
    /* border-radius: 100%; */
    border-radius: 50px;
}
